Flask
gunicorn
requests
Werkzeug
Jinja2
pyTelegramBotAPI
python-telegram-bot
telethon
pyrogram
aiogram
python-dotenv
psutil
Pillow
numpy
pandas
lxml
beautifulsoup4
aiohttp
SQLAlchemy
redis
openpyxl
pytz
psycopg2-binary
mysql-connector-python
